<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Lucky Deal {{ flatpage.title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/content/site.css' %}" />
    <script src="{% static 'main/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
    {% include "main/header.html" %}

    <div class="container body-content">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'main/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'main/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'main/scripts/respond.js' %}"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
