{% load custom_tags %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Lucky Deal ({{ user|invert }}, {% server_date_time '%m/%d/%Y %H:%M:%S' %})</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'about' %}">О нас</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
            </ul>
        </div>
    </div>
</div>