{% extends "main/base.html" %}

{% block content %}

<form method = "post" enctype = "multipart/form-data">
    {% csrf_token %}
    {{ profileformset.management_form }}

    <table>
    {% for field in userform %}
        <tr> 
            <th>{{ field.label_tag }}</th><td>{{ field }}</td>
        </tr>
    {% endfor %}
    {% for form in profileformset %}
        {{form.id}}
        <tr> 
            <th>Дата рождения</th><td>{{ form.birth_date }} {{ form.birth_date.errors }}</td>
        </tr>
        <tr> 
            <th>Описание</th><td>{{ form.description }} {{ form.description.errors }}</td>
        </tr>
        <tr> 
            <th>Аватар</th><td>{{ form.image }} {{ form.image.errors }}</td>
        </tr>
    {% endfor %}
    </table>
    <div>
        <input type="submit" value="Submit" />
    </div>

</form>

{% endblock %}
